<!-- Archivo: src/app/register/register.component.html
    <button class="record-button small" (click)="startRecording()">🎙 Grabar</button>
    <button class="record-button" (click)="stopRecording()" [disabled]="!isRecording">Detener</button>

-->
<app-navbar></app-navbar>
<div class="register-container">
    <h2>Registrarse</h2>
    
    <div>
      <label for="username">Nombre de Usuario:</label>
      <input type="text" id="username" [formControl]="usernameControl" placeholder="Usuario">
      <div *ngIf="usernameControl.invalid && (usernameControl.dirty || usernameControl.touched)">
        <small *ngIf="usernameControl.errors?.['required']">El nombre de usuario es obligatorio.</small>
      </div>
    </div>
    
    <div class="button-container">
      <!-- Botón Grabar -->
      <button class="record-button" (click)="startRecording()" [title]="'Grabar'">
        <i class="fas fa-microphone"></i>
      </button>
      <!-- Botón Detener -->
      <button class="record-button" (click)="stopRecording()" [disabled]="!isRecording" [title]="'Detener'">
        <i class="fas fa-stop"></i> <!-- Icono de detener -->
      </button>
    </div>
  
    <div *ngIf="audioUrl">
      <audio [src]="audioUrl" controls></audio>
    </div>
    
    <button class="register-button" (click)="register()" [disabled]="!audioBlob || usernameControl.invalid">Registrar</button>
  
    <p>¿Ya tienes una cuenta? <a routerLink="/inicio">Inicio de Sesión</a></p>
  </div>
  